html {
  font-size: 16px;
}
.markdown {
  & > span > * {
    margin: 10px 0;
  }
  & > span > *:first-child {
    margin-top: 0;
  }
  & > span > *:last-child {
    margin-bottom: 0;
  }
  & h1,
  & h2,
  & h3 {
    font-family: Roboto Slab;
  }
  & h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  & h1:not(:first-child) {
    margin-top: 20px;
  }
  & h2 {
    font-size: 18px;
  }
  & h2:not(:first-child) {
    margin-top: 20px;
  }
  & h3 {
    font-size: 16px;
  }
  & ul {
    padding-left: 20px;
  }
  & ul li {
    list-style-type: disc;
  }
  & ul li ul li {
    list-style-type: circle;
  }
  & ul li ul li ul li {
    list-style-type: square;
  }
  & table {
    border-collapse: collapse;
  }
  & th {
    font-weight: 400;
    &:empty {
      display: none;
    }
  }
  & th,
  & td {
    padding: 5px;
    border: 1px solid #444;
  }
  & img {
    max-width: 100%;
  }
}

.md-editor-root .CodeMirror.CodeMirror {
  border-color: #71717a;
  border-radius: 0;

  &.CodeMirror-focused {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow);
    border-color: #2563eb;
  }

  .CodeMirror-code {
    .cm-header {
      font-family: Roboto Slab;
    }
    .cm-header-1 {
      font-size: 20px;
    }
    .cm-header-2 {
      font-size: 18px;
    }
    .cm-header-3 {
      font-size: 16px;
    }
  }
}
